/*************************************************

Fonts

font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-weight: 600;

font-family: 'Source Serif Pro', serif;
font-weight: 400;

*************************************************/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Serif+Pro&display=swap');

h1 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1.bold {
    font-size: 40px;
    font-weight: 600;
    padding-top: 10px;
}

h2 {
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 45px; /* Equal to the height of ".card .title img" */
}

p {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
}

a, li {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}



/*************************************************

HTML

*************************************************/
* {
    margin: 0;
    padding: 0;
    list-style: none;

    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    height: 100%;

    /* Disable zoom effect on landscape mode for Smartphones */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    position: relative;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
    border-bottom: none;
    color: #0371C8; /* Blue Link */
}

a.current, a:hover {color: #525252 /* Wolfy Grey */}

a:hover {
    /* Smooth transition */
    -webkit-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}

header, section, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header div.content, section div.content, footer div.content {
    width: 100%;
    max-width: 1024px;
    padding: 0px 25px; /* Top and Bottom Right and Left */
}

.displayInDarkMode {display: none}



/*************************************************

Sprite Icons

*************************************************/
.icon {
    height: 20px;
    line-height: 20px;
    padding-left: 28px; /* The icon is 20px and needs 8px of space with the text. */
    display: inline-block; /* Display icon as inline block */
    background: url(../img/sprite-icons.svg) no-repeat;
}

.icon.vertical {padding-left: 25px /* The icon is not square and therefore needs less space with the text. */}

.icon.hover:hover {background: url(../img/sprite-icons-hover.svg) no-repeat}

/* Icon position in sprite file */
.read, .read.hover:hover {background-position: 0 0px}

.try, .try.hover:hover {background-position: 0 -20px}

.linkedin, .linkedin.hover:hover {background-position: 0 -40px}

.gitlab, .gitlab.hover:hover {background-position: 0 -60px}

.medium, .medium.hover:hover {background-position: 0 -80px}

.success {background-position: 0 -100px}

.error {background-position: 0 -120px}

.mobileMenu {background-position: 0 -140px}

#menu.open .mobileMenu {background-position: 0 -190px}



/*************************************************

Header

*************************************************/
#intro {
    margin-top: calc(60px + 60px); /* PX added equal to the height of "#menu" */
    width: 100%;
    text-align: center;
}

#menu {
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #E0E0E0;
    position: fixed;
    top: 0;
    width: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#menu .mobileMenu {
    display: none;
    color: #525252; /* Wolfy Grey */
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

#menu .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#logo {
    height: 34px;
    margin-top: 13px;
}

#logo {
    height: 34px;
    width: 120px;
    margin-top: 11px;
    background-image: url(../img/logo/julienwidmer-primary-monochrome-black.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#menu li {
    float: left;
    padding-left: 30px;
    line-height: 60px;
}

#hero {
    -o-object-fit: contain;
    object-fit: contain;

    height: auto;
    margin-top: 60px;
    width: 100%;
    max-width: 600px;
}



/*************************************************

Section

*************************************************/
#projects, #clients, #about, #contact {padding-top: 110px}

#contact.feedback {padding-top: 50px}

section h2 {padding-bottom: 50px}

section div.content {padding-bottom: 120px}



/*************************************************

Projects

*************************************************/
.card li {
    float: left;
    padding-right: 30px;
}

.card li:last-of-type {padding-right: 0px}

.card {
    height: 550px;
    width: 100%;
    border-radius: 6px;
    margin: 60px 0px; /* Top and Bottom Right and Left */
    background-color: white;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -webkit-box-shadow: 4px 4px 16px #cdcdcd;
    box-shadow: 4px 4px 16px #cdcdcd;
}

.card:first-of-type {margin-top: 0px}

.card:last-of-type {margin-bottom: inherit}

.card .info, .card .visual {padding: 40px 50px /* Top and Bottom Right and Left */}

.card .info {
    width: 40%;
    padding-right: inherit;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card .title {
    padding-bottom: 24px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.card .info p {padding: 14px 0px 20px 0px /* Top Right Bottom Left */}

.card .title img {
    height: 45px;
    padding-right: 15px;
    width: auto;
}

.card .visual {
    text-align: center;
    padding-left: 60px;
    width: 60%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card .visual img {
    height: 100%;
    width: 100%;

    -o-object-fit: contain;
    object-fit: contain;
}



/*************************************************

Clients

*************************************************/
#clients h2 {padding-bottom: calc(50px - 15px)} /* PX substracted equal margin top of '#clients img' */

#clients {
    text-align: center;
    margin-bottom: -15px; /* Remove margin bottom of '#clients img' */
}

#clients img {
    height: 45px;
    margin: 15px 30px;
}



/*************************************************

About

*************************************************/
#about .info {
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 40px 50px; /* Top and Bottom Right and Left */

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -ms-flex-line-pack: center;
    align-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-shadow: 4px 4px 16px #cdcdcd;
    box-shadow: 4px 4px 16px #cdcdcd;
}

#about img {
    width: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#about li {margin-bottom: 15px}

.download {
    color: #0070C9;
    border: 1px solid #0070C9;
    padding: 5px 8px;
    border-radius: 4px;
}

.download:hover {
    color: #525252; /* Wolfy Grey */
    border-color: #525252; /* Wolfy Grey */
    background-color: gainsboro;
}

#about .visual {
    margin-right: 45px;
    text-align: center;
}

#about p {padding-bottom: 30px}

#about p:last-of-type {padding-bottom: 0px}

#about .bold {font-weight: bold}



/*************************************************

Contact

*************************************************/
#feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 50px;
}

#feedback img {width: 60px}

#feedback h2, #feedback h3 {
    padding-bottom: 0px;
    padding-left: 25px;
}

#contact .info {padding-bottom: 30px}

#mail {float: right}

#name, #mail, #app_version, #device, #os_version {
    height: 45px;
    width: 48%;
    padding: 10px;
    margin-bottom: 35px;
}

#feedbackInfo {
    display: flex;
    justify-content: space-between;
}

#app_version, #device, #os_version {width: 32%}

#name, #mail, #app_version, #device, #os_version, textarea {
    font-size: 1em;
    line-height: 25px;
    border-radius: 0;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
}

textarea {
    height: 310px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
}

input[type=text], input[type=email], textarea {
    border: solid 1px lightgrey;

    /* Smooth transition */
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {outline: none}

input#sendCopyByEmail {margin-right: 5px}

#checkboxSendCopyByEmail {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
}

.grecaptcha-badge {
    margin-top: 35px;
    margin-left: auto;
    margin-right: 0;
    -webkit-box-shadow: gray 0px 0px 1px !important;
    box-shadow: gray 0px 0px 1px !important;
}

#send {
    float: right;
    border: 0 none;
    background: #0371C8; /* Blue Link */
    color: white;
    cursor: pointer;
    height: 40px;
    width: 140px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-top: 35px;
}

#send:hover {
    background: #525252; /* Wolfy Grey */
    color: #DEDEDE;

    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);

    /* Smooth transition */
    -webkit-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}


input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
input:focus::-ms-input-placeholder,
input:focus::placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder,
textarea:focus::-ms-input-placeholder,
textarea:focus::placeholder {color:transparent}

#contactForm {margin-top: 0px}

#formValidation {width: 100%}

#formValidation ul, #formValidation p {margin-bottom: 30px}

#formValidation ul {
    display: -ms-inline-grid;
    display: inline-grid
}

#formValidation p.success {color: #4FB840}

#formValidation li.error {
    color: #FF0919;
    margin-bottom: 5px;
}

#formValidation li:last-of-type {margin-bottom: 0px}



/*************************************************

Footer

*************************************************/
footer {
    background-color: black;
    width: 100%;
    color: white;
}

footer div.content {padding-top: 70px}

#footer {
    width: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#footer img {
    height: 45px;
    padding-right: 200px;
    width: auto;
}

#links ul {float: left}

#nav {padding-right: 72px}

#links li:first-of-type {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 4px;
}

#links li {padding: 4px 0px}

footer p {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}



/*************************************************

Media Queries

*************************************************/
/* Screen size less than 1024px */
@media only screen and (max-width: 1024px) {
    h1.bold {font-size: 35px}

    .card {
        height: inherit;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-pack: distribute;
        justify-content: space-around;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .card .info {padding-right: 50px}

    #about .info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #about .visual {
        margin-right: inherit;
        margin-bottom: 30px;
    }

    #about img {margin-bottom: 5px}

    #about li {
        margin-bottom: inherit;
        margin: 15px 15px;
        float: left;
    }

    .card .info {
        width: 100%;
        padding-bottom: 0px;
    }

    .card .visual {
        width: 100%;
        max-width: 550px;
        padding-top: 45px;
    }
}



/* Screen size less than 820px */
@media only screen and (max-width: 820px) {
    #footer {
        display: inherit;
        text-align: center;
    }

    #links {
        text-align: left;
        padding-top: 80px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    #footer img {padding-right: 0px}
}



/* Screen size less than 720px */
@media only screen and (max-width: 720px) {
    .card .info, .card .visual, #about .info {padding: 25px 20px}

    .card .info {padding-bottom: 0px}

    .card .visual {padding-top: 35px}

    #about img {margin-top: 35px}

    header div.content, section div.content, footer div.content, #navbar {padding: 0px 15px /* Top and Bottom Right and Left */}

    footer div.content {padding-top: 70px}

    section div.content {padding-bottom: 120px}
}



/* Screen size less than 550px */
@media only screen and (max-width: 550px) {
    #name {margin-bottom: 22px}

    #feedbackInfo {display: inherit}

    #name, #mail, #app_version, #device, #os_version {width: 100%}

    #intro {margin-top: calc(60px + 50px) /* PX added equal to the height of "#menu" */}

    #projects, #clients, #about, #contact {padding-top: 100px}

    #contact.feedback {padding-top: 50px}

    /* Mobile Menu is CLOSE */
    #menu .content {
        display: block;
        padding: inherit;
    }

    #menu {height: 50px}

    #logo {
        margin-left: 15px;
        float: left;
        margin-top: 8px;
        width: 38px;
        background-image: url(../img/logo/julienwidmer-w-shape-monochrome-black.svg);
    }

    #menu .mobileMenu {
        height: 50px;
        line-height: 50px;
        padding: 0px 15px;
        padding-left: 28px;
        float: right;
        display: inherit;
    }

    #menu ul {display: none}

    /* Mobile Menu is OPEN */
    #menu.open {
        width: 100%;
        height: 100%;
        background-color: black;
        border-bottom: inherit;
    }

    #menu.open .content {height: 100%}

    #menu.open #logo, #menu.open .mobileMenu {
        position: absolute;
        z-index: 3;
    }

    #menu.open #logo {background-image: url(../img/logo/julienwidmer-w-shape-monochrome-white.svg)}

    #menu.open .mobileMenu {
        right: 0;
        display: block;
    }

    #menu.open ul {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: inherit;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        -ms-flex-line-pack: center;
        align-content: center;
    }

    #menu.open li {
        width: 100%;
        float: inherit;
        padding-left: inherit;
        text-align: center;
    }

    #menu.open li a {font-size: 22px}

    #menu li a.download {
        border: inherit;
        padding: inherit;
        border-radius: inherit;
    }

    #menu li a.download:hover {background-color: inherit}

    #menu a, #menu.open .mobileMenu {color: white}

    #menu a:hover {color: #525252 /* Wolfy Grey */}
}



/* Screen size less than 445px */
@media only screen and (max-width: 445px) {
    #links {
        display: table;
        margin: 0 auto;
    }

    #nav {
        padding-right: 0px;
        padding-bottom: 40px;
    }

    #links ul {float: none}

    #about img {margin-bottom: 20px}

    #about li {
        margin: inherit;
        margin-bottom: 25px;
        float: inherit;
    }
}



/* Screen size less than 382px */
@media only screen and (max-width: 382px) {
    .card li {padding-right: 19px}
}



/* Screen size less than 370px */
@media only screen and (max-width: 370px) {
    .card li {
        display: block;
        float: inherit;
        padding-right: 0px;
        padding-bottom: 15px;
    }

    .card li:last-of-type {
        padding-bottom: inherit;
    }
}



/* Detect iPhone X to 11 Pro Max - This is useful to avoid content to be hidden behind the notch */
/* https://gitlab.com/julienwidmer/apple-notch-avoider */
@media only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2)
    and (orientation : landscape),
    only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape),
    only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {

        header div.content, section div.content, footer div.content, #navbar {padding: 0px 40px /* Top and Bottom Right and Left */}

        section div.content {padding-bottom: 120px}

        footer div.content {padding-top: 70px}
}



/* Dark Mode */
@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, p, #checkboxSendCopyByEmail {color: white}

    #menu .mobileMenu {color: white}

    body {background-color: #0F0F0F}

    .displayInDarkMode {display: inherit}

    #clients .displayInDarkMode {display: inline}

    .hideInDarkMode {display: none}

    #menu {border-color: #0F0F0F}

    #logo {background-image: url(../img/logo/julienwidmer-primary-monochrome-white.svg)}

    #menu, .card, #about .info {background-color: #1E1F1F}

    .card, #about .info {
        -webkit-box-shadow: 4px 4px 16px black;
        box-shadow: 4px 4px 16px black;
    }
}



/* Screen size less than 550px */
@media only screen and (max-width: 550px) and (prefers-color-scheme: dark) {
    #logo {background-image: url(../img/logo/julienwidmer-w-shape-monochrome-white.svg)}
}
