h1, h2, p, li, a {font-family: -apple-system, BlinkMacSystemFont, sans-serif}


h1, h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}


h1 {font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif}


h2 {
  font-family: -apple-system-subheadline, BlinkMacSystemFont, sans-serif;
  padding-top: 30px;
}


p, li, a {font-family: -apple-system-body, BlinkMacSystemFont, sans-serif}


li {padding-bottom: 7px}


li:last-of-type {padding-bottom: inherit}


a {color: rgb(0, 122, 255)}


#lastUpdated {font-family: -apple-system-subheadline, BlinkMacSystemFont, sans-serif}



/*************************************************

HTML

*************************************************/
html {
  background-color: white;

  /* Disable zoom effect on landscape mode for Smartphones */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


section div.content {
  width: 100%;
  max-width: 1024px;
  padding: 0px 30px; /* Top and Bottom Right and Left */
  margin-bottom: 60px;
}



/*************************************************

Media Queries

*************************************************/
/* Screen size less than 720px */
@media only screen and (max-width: 720px) {
  section div.content {
    padding: 0px 15px; /* Top and Bottom Right and Left */
  }
}


/* Detect iPhone X to 11 Pro Max - This is useful to avoid content to be hidden behind the notch */
/* https://gitlab.com/julienwidmer/apple-notch-avoider */
@media only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 2)
and (orientation : landscape),
only screen
and (device-width : 375px)
and (device-height : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape),
only screen
and (device-width : 414px)
and (device-height : 896px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  section div.content {padding: 0px 40px /* Top and Bottom Right and Left */}
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
  h1, h2, h3, p, li {color: white}

  h1, h2 {border-color: white}

  html {background-color: black}
}
